<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11G63</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>abi</string>
				<string>ab1</string>
				<string>q1c</string>
				<string>q1nabi</string>
				<string>abd</string>
				<string>cro</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docabi.icns</string>
			<key>CFBundleTypeName</key>
			<string>ABI</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ABI1</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>scf</string>
				<string>q1nscf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docscf.icns</string>
			<key>CFBundleTypeName</key>
			<string>SCF</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>alf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docalf.icns</string>
			<key>CFBundleTypeName</key>
			<string>ALF</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pln</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docpln.icns</string>
			<key>CFBundleTypeName</key>
			<string>PLN</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>exp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docexp.icns</string>
			<key>CFBundleTypeName</key>
			<string>EXP</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ctf</string>
				<string>q1nctf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docctf.icns</string>
			<key>CFBundleTypeName</key>
			<string>CTF</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ztr</string>
				<string>q1nztr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docztr.icns</string>
			<key>CFBundleTypeName</key>
			<string>ZTR</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ztr1</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docztr.icns</string>
			<key>CFBundleTypeName</key>
			<string>ZTR1</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ztr2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docztr.icns</string>
			<key>CFBundleTypeName</key>
			<string>ZTR2</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ztr3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docztr.icns</string>
			<key>CFBundleTypeName</key>
			<string>ZTR3</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bio</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docbio.icns</string>
			<key>CFBundleTypeName</key>
			<string>BIO</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>text</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doctxt.icns</string>
			<key>CFBundleTypeName</key>
			<string>TXT</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fasta</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docfasta.icns</string>
			<key>CFBundleTypeName</key>
			<string>FASTA</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>motifs</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docmotif.icns</string>
			<key>CFBundleTypeName</key>
			<string>4Peaks Search Motifs</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>4plugin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>plugin.icns</string>
			<key>CFBundleTypeName</key>
			<string>4Peaks Plugin</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>4Peaks</string>
	<key>CFBundleHelpBookFolder</key>
	<string>4Peaks Help</string>
	<key>CFBundleHelpBookName</key>
	<string>4Peaks Help</string>
	<key>CFBundleIconFile</key>
	<string>app</string>
	<key>CFBundleIdentifier</key>
	<string>com.mekentosj.4peaks</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.8</string>
	<key>CFBundleSignature</key>
	<string>MTPX</string>
	<key>CFBundleVersion</key>
	<string>1.8</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>4H1003</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12D75</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0462</string>
	<key>DTXcodeBuild</key>
	<string>4H1003</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.medical</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
