<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Code</key>
	<dict>
		<key>AAA</key>
		<array>
			<string>K</string>
			<string>Lys</string>
			<string>54.8</string>
		</array>
		<key>AAC</key>
		<array>
			<string>N</string>
			<string>Asn</string>
			<string>9.9</string>
		</array>
		<key>AAG</key>
		<array>
			<string>K</string>
			<string>Lys</string>
			<string>16.9</string>
		</array>
		<key>AAT</key>
		<array>
			<string>N</string>
			<string>Asn</string>
			<string>45.3</string>
		</array>
		<key>ACA</key>
		<array>
			<string>T</string>
			<string>Thr</string>
			<string>5.5</string>
		</array>
		<key>ACC</key>
		<array>
			<string>T</string>
			<string>Thr</string>
			<string>6.3</string>
		</array>
		<key>ACG</key>
		<array>
			<string>T</string>
			<string>Thr</string>
			<string>8.0</string>
		</array>
		<key>ACT</key>
		<array>
			<string>T</string>
			<string>Thr</string>
			<string>11.0</string>
		</array>
		<key>AGA</key>
		<array>
			<string>R</string>
			<string>Arg</string>
			<string>18.8</string>
		</array>
		<key>AGC</key>
		<array>
			<string>S</string>
			<string>Ser</string>
			<string>5.2</string>
		</array>
		<key>AGG</key>
		<array>
			<string>R</string>
			<string>Arg</string>
			<string>4.1</string>
		</array>
		<key>AGT</key>
		<array>
			<string>S</string>
			<string>Ser</string>
			<string>15.4</string>
		</array>
		<key>ATA</key>
		<array>
			<string>I</string>
			<string>Ile</string>
			<string>18.5</string>
		</array>
		<key>ATC</key>
		<array>
			<string>I</string>
			<string>Ile</string>
			<string>14.3</string>
		</array>
		<key>ATG</key>
		<array>
			<string>M</string>
			<string>Met</string>
			<string>13.3</string>
		</array>
		<key>ATT</key>
		<array>
			<string>I</string>
			<string>Ile</string>
			<string>40.7</string>
		</array>
		<key>CAA</key>
		<array>
			<string>Q</string>
			<string>Gln</string>
			<string>25.3</string>
		</array>
		<key>CAC</key>
		<array>
			<string>H</string>
			<string>His</string>
			<string>6.5</string>
		</array>
		<key>CAG</key>
		<array>
			<string>Q</string>
			<string>Gln</string>
			<string>6.3</string>
		</array>
		<key>CAT</key>
		<array>
			<string>H</string>
			<string>His</string>
			<string>23.0</string>
		</array>
		<key>CCA</key>
		<array>
			<string>P</string>
			<string>Pro</string>
			<string>11.4</string>
		</array>
		<key>CCC</key>
		<array>
			<string>P</string>
			<string>Pro</string>
			<string>7.8</string>
		</array>
		<key>CCG</key>
		<array>
			<string>P</string>
			<string>Pro</string>
			<string>5.8</string>
		</array>
		<key>CCT</key>
		<array>
			<string>P</string>
			<string>Pro</string>
			<string>7.6</string>
		</array>
		<key>CGA</key>
		<array>
			<string>R</string>
			<string>Arg</string>
			<string>13.8</string>
		</array>
		<key>CGC</key>
		<array>
			<string>R</string>
			<string>Arg</string>
			<string>7.1</string>
		</array>
		<key>CGG</key>
		<array>
			<string>R</string>
			<string>Arg</string>
			<string>10.7</string>
		</array>
		<key>CGT</key>
		<array>
			<string>R</string>
			<string>Arg</string>
			<string>10.4</string>
		</array>
		<key>CTA</key>
		<array>
			<string>L</string>
			<string>Leu</string>
			<string>17.5</string>
		</array>
		<key>CTC</key>
		<array>
			<string>L</string>
			<string>Leu</string>
			<string>7.0</string>
		</array>
		<key>CTG</key>
		<array>
			<string>L</string>
			<string>Leu</string>
			<string>8.0</string>
		</array>
		<key>CTT</key>
		<array>
			<string>L</string>
			<string>Leu</string>
			<string>22.7</string>
		</array>
		<key>GAA</key>
		<array>
			<string>E</string>
			<string>Glu</string>
			<string>24.5</string>
		</array>
		<key>GAC</key>
		<array>
			<string>D</string>
			<string>Asp</string>
			<string>5.8</string>
		</array>
		<key>GAG</key>
		<array>
			<string>E</string>
			<string>Glu</string>
			<string>12.2</string>
		</array>
		<key>GAT</key>
		<array>
			<string>D</string>
			<string>Asp</string>
			<string>33.1</string>
		</array>
		<key>GCA</key>
		<array>
			<string>A</string>
			<string>Ala</string>
			<string>10.1</string>
		</array>
		<key>GCC</key>
		<array>
			<string>A</string>
			<string>Ala</string>
			<string>4.1</string>
		</array>
		<key>GCG</key>
		<array>
			<string>A</string>
			<string>Ala</string>
			<string>2.8</string>
		</array>
		<key>GCT</key>
		<array>
			<string>A</string>
			<string>Ala</string>
			<string>15.3</string>
		</array>
		<key>GGA</key>
		<array>
			<string>G</string>
			<string>Gly</string>
			<string>16.1</string>
		</array>
		<key>GGC</key>
		<array>
			<string>G</string>
			<string>Gly</string>
			<string>2.8</string>
		</array>
		<key>GGG</key>
		<array>
			<string>G</string>
			<string>Gly</string>
			<string>10.9</string>
		</array>
		<key>GGT</key>
		<array>
			<string>G</string>
			<string>Gly</string>
			<string>10.1</string>
		</array>
		<key>GTA</key>
		<array>
			<string>V</string>
			<string>Val</string>
			<string>16.2</string>
		</array>
		<key>GTC</key>
		<array>
			<string>V</string>
			<string>Val</string>
			<string>8.9</string>
		</array>
		<key>GTG</key>
		<array>
			<string>V</string>
			<string>Val</string>
			<string>13.5</string>
		</array>
		<key>GTT</key>
		<array>
			<string>V</string>
			<string>Val</string>
			<string>21.1</string>
		</array>
		<key>TAA</key>
		<array>
			<string>*</string>
			<string>***</string>
			<string>1.9</string>
		</array>
		<key>TAC</key>
		<array>
			<string>Y</string>
			<string>Tyr</string>
			<string>10.7</string>
		</array>
		<key>TAG</key>
		<array>
			<string>*</string>
			<string>***</string>
			<string>0.0</string>
		</array>
		<key>TAT</key>
		<array>
			<string>Y</string>
			<string>Tyr</string>
			<string>53.2</string>
		</array>
		<key>TCA</key>
		<array>
			<string>S</string>
			<string>Ser</string>
			<string>17.8</string>
		</array>
		<key>TCC</key>
		<array>
			<string>S</string>
			<string>Ser</string>
			<string>9.4</string>
		</array>
		<key>TCG</key>
		<array>
			<string>S</string>
			<string>Ser</string>
			<string>10.4</string>
		</array>
		<key>TCT</key>
		<array>
			<string>S</string>
			<string>Ser</string>
			<string>31.8</string>
		</array>
		<key>TGA</key>
		<array>
			<string>*</string>
			<string>***</string>
			<string>0.2</string>
		</array>
		<key>TGC</key>
		<array>
			<string>C</string>
			<string>Cys</string>
			<string>4.5</string>
		</array>
		<key>TGG</key>
		<array>
			<string>W</string>
			<string>Trp</string>
			<string>11.8</string>
		</array>
		<key>TGT</key>
		<array>
			<string>C</string>
			<string>Cys</string>
			<string>13.0</string>
		</array>
		<key>TTA</key>
		<array>
			<string>L</string>
			<string>Leu</string>
			<string>41.4</string>
		</array>
		<key>TTC</key>
		<array>
			<string>F</string>
			<string>Phe</string>
			<string>22.2</string>
		</array>
		<key>TTG</key>
		<array>
			<string>L</string>
			<string>Leu</string>
			<string>33.4</string>
		</array>
		<key>TTT</key>
		<array>
			<string>F</string>
			<string>Phe</string>
			<string>51.9</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Arabidopsis thaliana Codons</string>
	<key>FrequencySample</key>
	<string>Arabidopsis thaliana</string>
	<key>Species</key>
	<string>Arabidopsis thaliana</string>
</dict>
</plist>
