<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Code</key>
	<dict>
		<key>AAA</key>
		<array>
			<string>K</string>
			<string>Lys</string>
			<string>37.8</string>
		</array>
		<key>AAC</key>
		<array>
			<string>N</string>
			<string>Asn</string>
			<string>18.5</string>
		</array>
		<key>AAG</key>
		<array>
			<string>K</string>
			<string>Lys</string>
			<string>26.0</string>
		</array>
		<key>AAT</key>
		<array>
			<string>N</string>
			<string>Asn</string>
			<string>30.2</string>
		</array>
		<key>ACA</key>
		<array>
			<string>T</string>
			<string>Thr</string>
			<string>19.8</string>
		</array>
		<key>ACC</key>
		<array>
			<string>T</string>
			<string>Thr</string>
			<string>10.5</string>
		</array>
		<key>ACG</key>
		<array>
			<string>T</string>
			<string>Thr</string>
			<string>8.9</string>
		</array>
		<key>ACT</key>
		<array>
			<string>T</string>
			<string>Thr</string>
			<string>18.9</string>
		</array>
		<key>AGA</key>
		<array>
			<string>R</string>
			<string>Arg</string>
			<string>15.4</string>
		</array>
		<key>AGC</key>
		<array>
			<string>S</string>
			<string>Ser</string>
			<string>8.3</string>
		</array>
		<key>AGG</key>
		<array>
			<string>R</string>
			<string>Arg</string>
			<string>4.0</string>
		</array>
		<key>AGT</key>
		<array>
			<string>S</string>
			<string>Ser</string>
			<string>12.1</string>
		</array>
		<key>ATA</key>
		<array>
			<string>I</string>
			<string>Ile</string>
			<string>9.5</string>
		</array>
		<key>ATC</key>
		<array>
			<string>I</string>
			<string>Ile</string>
			<string>19.0</string>
		</array>
		<key>ATG</key>
		<array>
			<string>M</string>
			<string>Met</string>
			<string>26.0</string>
		</array>
		<key>ATT</key>
		<array>
			<string>I</string>
			<string>Ile</string>
			<string>32.2</string>
		</array>
		<key>CAA</key>
		<array>
			<string>Q</string>
			<string>Gln</string>
			<string>27.3</string>
		</array>
		<key>CAC</key>
		<array>
			<string>H</string>
			<string>His</string>
			<string>9.3</string>
		</array>
		<key>CAG</key>
		<array>
			<string>Q</string>
			<string>Gln</string>
			<string>14.3</string>
		</array>
		<key>CAT</key>
		<array>
			<string>H</string>
			<string>His</string>
			<string>14.1</string>
		</array>
		<key>CCA</key>
		<array>
			<string>P</string>
			<string>Pro</string>
			<string>26.0</string>
		</array>
		<key>CCC</key>
		<array>
			<string>P</string>
			<string>Pro</string>
			<string>4.5</string>
		</array>
		<key>CCG</key>
		<array>
			<string>P</string>
			<string>Pro</string>
			<string>9.7</string>
		</array>
		<key>CCT</key>
		<array>
			<string>P</string>
			<string>Pro</string>
			<string>8.8</string>
		</array>
		<key>CGA</key>
		<array>
			<string>R</string>
			<string>Arg</string>
			<string>12.0</string>
		</array>
		<key>CGC</key>
		<array>
			<string>R</string>
			<string>Arg</string>
			<string>5.2</string>
		</array>
		<key>CGG</key>
		<array>
			<string>R</string>
			<string>Arg</string>
			<string>4.7</string>
		</array>
		<key>CGT</key>
		<array>
			<string>R</string>
			<string>Arg</string>
			<string>11.3</string>
		</array>
		<key>CTA</key>
		<array>
			<string>L</string>
			<string>Leu</string>
			<string>7.9</string>
		</array>
		<key>CTC</key>
		<array>
			<string>L</string>
			<string>Leu</string>
			<string>14.9</string>
		</array>
		<key>CTG</key>
		<array>
			<string>L</string>
			<string>Leu</string>
			<string>12.2</string>
		</array>
		<key>CTT</key>
		<array>
			<string>L</string>
			<string>Leu</string>
			<string>21.1</string>
		</array>
		<key>GAA</key>
		<array>
			<string>E</string>
			<string>Glu</string>
			<string>40.7</string>
		</array>
		<key>GAC</key>
		<array>
			<string>D</string>
			<string>Asp</string>
			<string>17.2</string>
		</array>
		<key>GAG</key>
		<array>
			<string>E</string>
			<string>Glu</string>
			<string>24.5</string>
		</array>
		<key>GAT</key>
		<array>
			<string>D</string>
			<string>Asp</string>
			<string>35.6</string>
		</array>
		<key>GCA</key>
		<array>
			<string>A</string>
			<string>Ala</string>
			<string>19.7</string>
		</array>
		<key>GCC</key>
		<array>
			<string>A</string>
			<string>Ala</string>
			<string>12.7</string>
		</array>
		<key>GCG</key>
		<array>
			<string>A</string>
			<string>Ala</string>
			<string>8.2</string>
		</array>
		<key>GCT</key>
		<array>
			<string>A</string>
			<string>Ala</string>
			<string>22.3</string>
		</array>
		<key>GGA</key>
		<array>
			<string>G</string>
			<string>Gly</string>
			<string>31.5</string>
		</array>
		<key>GGC</key>
		<array>
			<string>G</string>
			<string>Gly</string>
			<string>6.7</string>
		</array>
		<key>GGG</key>
		<array>
			<string>G</string>
			<string>Gly</string>
			<string>4.4</string>
		</array>
		<key>GGT</key>
		<array>
			<string>G</string>
			<string>Gly</string>
			<string>10.9</string>
		</array>
		<key>GTA</key>
		<array>
			<string>V</string>
			<string>Val</string>
			<string>9.8</string>
		</array>
		<key>GTC</key>
		<array>
			<string>V</string>
			<string>Val</string>
			<string>13.6</string>
		</array>
		<key>GTG</key>
		<array>
			<string>V</string>
			<string>Val</string>
			<string>14.3</string>
		</array>
		<key>GTT</key>
		<array>
			<string>V</string>
			<string>Val</string>
			<string>24.0</string>
		</array>
		<key>TAA</key>
		<array>
			<string>*</string>
			<string>***</string>
			<string>1.5</string>
		</array>
		<key>TAC</key>
		<array>
			<string>Y</string>
			<string>Tyr</string>
			<string>13.7</string>
		</array>
		<key>TAG</key>
		<array>
			<string>*</string>
			<string>***</string>
			<string>0.6</string>
		</array>
		<key>TAT</key>
		<array>
			<string>Y</string>
			<string>Tyr</string>
			<string>17.4</string>
		</array>
		<key>TCA</key>
		<array>
			<string>S</string>
			<string>Ser</string>
			<string>20.5</string>
		</array>
		<key>TCC</key>
		<array>
			<string>S</string>
			<string>Ser</string>
			<string>10.7</string>
		</array>
		<key>TCG</key>
		<array>
			<string>S</string>
			<string>Ser</string>
			<string>12.2</string>
		</array>
		<key>TCT</key>
		<array>
			<string>S</string>
			<string>Ser</string>
			<string>16.7</string>
		</array>
		<key>TGA</key>
		<array>
			<string>*</string>
			<string>***</string>
			<string>1.3</string>
		</array>
		<key>TGC</key>
		<array>
			<string>C</string>
			<string>Cys</string>
			<string>9.1</string>
		</array>
		<key>TGG</key>
		<array>
			<string>W</string>
			<string>Trp</string>
			<string>11.1</string>
		</array>
		<key>TGT</key>
		<array>
			<string>C</string>
			<string>Cys</string>
			<string>11.2</string>
		</array>
		<key>TTA</key>
		<array>
			<string>L</string>
			<string>Leu</string>
			<string>9.9</string>
		</array>
		<key>TTC</key>
		<array>
			<string>F</string>
			<string>Phe</string>
			<string>24.1</string>
		</array>
		<key>TTG</key>
		<array>
			<string>L</string>
			<string>Leu</string>
			<string>20.0</string>
		</array>
		<key>TTT</key>
		<array>
			<string>F</string>
			<string>Phe</string>
			<string>23.6</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Nematode Codons</string>
        <key>FrequencySample</key>
	<string>Caenorhabditis elegans</string>
	<key>Species</key>
	<string>Nematode</string>
</dict>
</plist>
