<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Code</key>
	<dict>
		<key>AAA</key>
		<array>
			<string>K</string>
			<string>Lys</string>
			<string>1.0</string>
		</array>
		<key>AAC</key>
		<array>
			<string>N</string>
			<string>Asn</string>
			<string>1.0</string>
		</array>
		<key>AAG</key>
		<array>
			<string>K</string>
			<string>Lys</string>
			<string>1.0</string>
		</array>
		<key>AAT</key>
		<array>
			<string>N</string>
			<string>Asn</string>
			<string>1.0</string>
		</array>
		<key>ACA</key>
		<array>
			<string>T</string>
			<string>Thr</string>
			<string>1.0</string>
		</array>
		<key>ACC</key>
		<array>
			<string>T</string>
			<string>Thr</string>
			<string>1.0</string>
		</array>
		<key>ACG</key>
		<array>
			<string>T</string>
			<string>Thr</string>
			<string>1.0</string>
		</array>
		<key>ACT</key>
		<array>
			<string>T</string>
			<string>Thr</string>
			<string>1.0</string>
		</array>
		<key>AGA</key>
		<array>
			<string>R</string>
			<string>Arg</string>
			<string>1.0</string>
		</array>
		<key>AGC</key>
		<array>
			<string>S</string>
			<string>Ser</string>
			<string>1.0</string>
		</array>
		<key>AGG</key>
		<array>
			<string>R</string>
			<string>Arg</string>
			<string>1.0</string>
		</array>
		<key>AGT</key>
		<array>
			<string>S</string>
			<string>Ser</string>
			<string>1.0</string>
		</array>
		<key>ATA</key>
		<array>
			<string>I</string>
			<string>Ile</string>
			<string>1.0</string>
		</array>
		<key>ATC</key>
		<array>
			<string>I</string>
			<string>Ile</string>
			<string>1.0</string>
		</array>
		<key>ATG</key>
		<array>
			<string>M</string>
			<string>Met</string>
			<string>1.0</string>
		</array>
		<key>ATT</key>
		<array>
			<string>I</string>
			<string>Ile</string>
			<string>1.0</string>
		</array>
		<key>CAA</key>
		<array>
			<string>Q</string>
			<string>Gln</string>
			<string>1.0</string>
		</array>
		<key>CAC</key>
		<array>
			<string>H</string>
			<string>His</string>
			<string>1.0</string>
		</array>
		<key>CAG</key>
		<array>
			<string>Q</string>
			<string>Gln</string>
			<string>1.0</string>
		</array>
		<key>CAT</key>
		<array>
			<string>H</string>
			<string>His</string>
			<string>1.0</string>
		</array>
		<key>CCA</key>
		<array>
			<string>P</string>
			<string>Pro</string>
			<string>1.0</string>
		</array>
		<key>CCC</key>
		<array>
			<string>P</string>
			<string>Pro</string>
			<string>1.0</string>
		</array>
		<key>CCG</key>
		<array>
			<string>P</string>
			<string>Pro</string>
			<string>1.0</string>
		</array>
		<key>CCT</key>
		<array>
			<string>P</string>
			<string>Pro</string>
			<string>1.0</string>
		</array>
		<key>CGA</key>
		<array>
			<string>R</string>
			<string>Arg</string>
			<string>1.0</string>
		</array>
		<key>CGC</key>
		<array>
			<string>R</string>
			<string>Arg</string>
			<string>1.0</string>
		</array>
		<key>CGG</key>
		<array>
			<string>R</string>
			<string>Arg</string>
			<string>1.0</string>
		</array>
		<key>CGT</key>
		<array>
			<string>R</string>
			<string>Arg</string>
			<string>1.0</string>
		</array>
		<key>CTA</key>
		<array>
			<string>L</string>
			<string>Leu</string>
			<string>1.0</string>
		</array>
		<key>CTC</key>
		<array>
			<string>L</string>
			<string>Leu</string>
			<string>1.0</string>
		</array>
		<key>CTG</key>
		<array>
			<string>L</string>
			<string>Leu</string>
			<string>1.0</string>
		</array>
		<key>CTT</key>
		<array>
			<string>L</string>
			<string>Leu</string>
			<string>1.0</string>
		</array>
		<key>GAA</key>
		<array>
			<string>E</string>
			<string>Glu</string>
			<string>1.0</string>
		</array>
		<key>GAC</key>
		<array>
			<string>D</string>
			<string>Asp</string>
			<string>1.0</string>
		</array>
		<key>GAG</key>
		<array>
			<string>E</string>
			<string>Glu</string>
			<string>1.0</string>
		</array>
		<key>GAT</key>
		<array>
			<string>D</string>
			<string>Asp</string>
			<string>1.0</string>
		</array>
		<key>GCA</key>
		<array>
			<string>A</string>
			<string>Ala</string>
			<string>1.0</string>
		</array>
		<key>GCC</key>
		<array>
			<string>A</string>
			<string>Ala</string>
			<string>1.0</string>
		</array>
		<key>GCG</key>
		<array>
			<string>A</string>
			<string>Ala</string>
			<string>1.0</string>
		</array>
		<key>GCT</key>
		<array>
			<string>A</string>
			<string>Ala</string>
			<string>1.0</string>
		</array>
		<key>GGA</key>
		<array>
			<string>G</string>
			<string>Gly</string>
			<string>1.0</string>
		</array>
		<key>GGC</key>
		<array>
			<string>G</string>
			<string>Gly</string>
			<string>1.0</string>
		</array>
		<key>GGG</key>
		<array>
			<string>G</string>
			<string>Gly</string>
			<string>1.0</string>
		</array>
		<key>GGT</key>
		<array>
			<string>G</string>
			<string>Gly</string>
			<string>1.0</string>
		</array>
		<key>GTA</key>
		<array>
			<string>V</string>
			<string>Val</string>
			<string>1.0</string>
		</array>
		<key>GTC</key>
		<array>
			<string>V</string>
			<string>Val</string>
			<string>1.0</string>
		</array>
		<key>GTG</key>
		<array>
			<string>V</string>
			<string>Val</string>
			<string>1.0</string>
		</array>
		<key>GTT</key>
		<array>
			<string>V</string>
			<string>Val</string>
			<string>1.0</string>
		</array>
		<key>TAA</key>
		<array>
			<string>*</string>
			<string>***</string>
			<string>1.0</string>
		</array>
		<key>TAC</key>
		<array>
			<string>Y</string>
			<string>Tyr</string>
			<string>1.0</string>
		</array>
		<key>TAG</key>
		<array>
			<string>*</string>
			<string>***</string>
			<string>1.0</string>
		</array>
		<key>TAT</key>
		<array>
			<string>Y</string>
			<string>Tyr</string>
			<string>1.0</string>
		</array>
		<key>TCA</key>
		<array>
			<string>S</string>
			<string>Ser</string>
			<string>1.0</string>
		</array>
		<key>TCC</key>
		<array>
			<string>S</string>
			<string>Ser</string>
			<string>1.0</string>
		</array>
		<key>TCG</key>
		<array>
			<string>S</string>
			<string>Ser</string>
			<string>1.0</string>
		</array>
		<key>TCT</key>
		<array>
			<string>S</string>
			<string>Ser</string>
			<string>1.0</string>
		</array>
		<key>TGA</key>
		<array>
			<string>*</string>
			<string>***</string>
			<string>1.0</string>
		</array>
		<key>TGC</key>
		<array>
			<string>C</string>
			<string>Cys</string>
			<string>1.0</string>
		</array>
		<key>TGG</key>
		<array>
			<string>W</string>
			<string>Trp</string>
			<string>1.0</string>
		</array>
		<key>TGT</key>
		<array>
			<string>C</string>
			<string>Cys</string>
			<string>1.0</string>
		</array>
		<key>TTA</key>
		<array>
			<string>L</string>
			<string>Leu</string>
			<string>1.0</string>
		</array>
		<key>TTC</key>
		<array>
			<string>F</string>
			<string>Phe</string>
			<string>1.0</string>
		</array>
		<key>TTG</key>
		<array>
			<string>L</string>
			<string>Leu</string>
			<string>1.0</string>
		</array>
		<key>TTT</key>
		<array>
			<string>F</string>
			<string>Phe</string>
			<string>1.0</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Trematode Mitochondrial Codons</string>
        <key>FrequencySample</key>
	<string>None</string>
	<key>Species</key>
	<string>Trematode Mitochondrial</string>
</dict>
</plist>
