<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Code</key>
	<dict>
		<key>AAA</key>
		<array>
			<string>K</string>
			<string>Lys</string>
			<string>23.7</string>
		</array>
		<key>AAC</key>
		<array>
			<string>N</string>
			<string>Asn</string>
			<string>34.4</string>
		</array>
		<key>AAG</key>
		<array>
			<string>K</string>
			<string>Lys</string>
			<string>3.1</string>
		</array>
		<key>AAT</key>
		<array>
			<string>N</string>
			<string>Asn</string>
			<string>10.5</string>
		</array>
		<key>ACA</key>
		<array>
			<string>T</string>
			<string>Thr</string>
			<string>32.9</string>
		</array>
		<key>ACC</key>
		<array>
			<string>T</string>
			<string>Thr</string>
			<string>42.8</string>
		</array>
		<key>ACG</key>
		<array>
			<string>T</string>
			<string>Thr</string>
			<string>2.6</string>
		</array>
		<key>ACT</key>
		<array>
			<string>T</string>
			<string>Thr</string>
			<string>14.5</string>
		</array>
		<key>AGA</key>
		<array>
			<string>*</string>
			<string>***</string>
			<string>0.4</string>
		</array>
		<key>AGC</key>
		<array>
			<string>S</string>
			<string>Ser</string>
			<string>9.7</string>
		</array>
		<key>AGG</key>
		<array>
			<string>*</string>
			<string>***</string>
			<string>0.4</string>
		</array>
		<key>AGT</key>
		<array>
			<string>S</string>
			<string>Ser</string>
			<string>3.6</string>
		</array>
		<key>ATA</key>
		<array>
			<string>M</string>
			<string>Met</string>
			<string>44.3</string>
		</array>
		<key>ATC</key>
		<array>
			<string>I</string>
			<string>Ile</string>
			<string>51.6</string>
		</array>
		<key>ATG</key>
		<array>
			<string>M</string>
			<string>Met</string>
			<string>12.0</string>
		</array>
		<key>ATT</key>
		<array>
			<string>I</string>
			<string>Ile</string>
			<string>33.7</string>
		</array>
		<key>CAA</key>
		<array>
			<string>Q</string>
			<string>Gln</string>
			<string>20.6</string>
		</array>
		<key>CAC</key>
		<array>
			<string>H</string>
			<string>His</string>
			<string>17.5</string>
		</array>
		<key>CAG</key>
		<array>
			<string>Q</string>
			<string>Gln</string>
			<string>2.7</string>
		</array>
		<key>CAT</key>
		<array>
			<string>H</string>
			<string>His</string>
			<string>3.9</string>
		</array>
		<key>CCA</key>
		<array>
			<string>P</string>
			<string>Pro</string>
			<string>11.7</string>
		</array>
		<key>CCC</key>
		<array>
			<string>P</string>
			<string>Pro</string>
			<string>33.8</string>
		</array>
		<key>CCG</key>
		<array>
			<string>P</string>
			<string>Pro</string>
			<string>1.9</string>
		</array>
		<key>CCT</key>
		<array>
			<string>P</string>
			<string>Pro</string>
			<string>11.3</string>
		</array>
		<key>CGA</key>
		<array>
			<string>R</string>
			<string>Arg</string>
			<string>6.5</string>
		</array>
		<key>CGC</key>
		<array>
			<string>R</string>
			<string>Arg</string>
			<string>5.8</string>
		</array>
		<key>CGG</key>
		<array>
			<string>R</string>
			<string>Arg</string>
			<string>0.8</string>
		</array>
		<key>CGT</key>
		<array>
			<string>R</string>
			<string>Arg</string>
			<string>2.7</string>
		</array>
		<key>CTA</key>
		<array>
			<string>L</string>
			<string>Leu</string>
			<string>70.4</string>
		</array>
		<key>CTC</key>
		<array>
			<string>L</string>
			<string>Leu</string>
			<string>39.4</string>
		</array>
		<key>CTG</key>
		<array>
			<string>L</string>
			<string>Leu</string>
			<string>13.2</string>
		</array>
		<key>CTT</key>
		<array>
			<string>L</string>
			<string>Leu</string>
			<string>17.0</string>
		</array>
		<key>GAA</key>
		<array>
			<string>E</string>
			<string>Glu</string>
			<string>16.6</string>
		</array>
		<key>GAC</key>
		<array>
			<string>D</string>
			<string>Asp</string>
			<string>13.6</string>
		</array>
		<key>GAG</key>
		<array>
			<string>E</string>
			<string>Glu</string>
			<string>7.8</string>
		</array>
		<key>GAT</key>
		<array>
			<string>D</string>
			<string>Asp</string>
			<string>4.3</string>
		</array>
		<key>GCA</key>
		<array>
			<string>A</string>
			<string>Ala</string>
			<string>23.9</string>
		</array>
		<key>GCC</key>
		<array>
			<string>A</string>
			<string>Ala</string>
			<string>29.5</string>
		</array>
		<key>GCG</key>
		<array>
			<string>A</string>
			<string>Ala</string>
			<string>3.2</string>
		</array>
		<key>GCT</key>
		<array>
			<string>A</string>
			<string>Ala</string>
			<string>13.8</string>
		</array>
		<key>GGA</key>
		<array>
			<string>G</string>
			<string>Gly</string>
			<string>18.9</string>
		</array>
		<key>GGC</key>
		<array>
			<string>G</string>
			<string>Gly</string>
			<string>20.7</string>
		</array>
		<key>GGG</key>
		<array>
			<string>G</string>
			<string>Gly</string>
			<string>9.4</string>
		</array>
		<key>GGT</key>
		<array>
			<string>G</string>
			<string>Gly</string>
			<string>8.6</string>
		</array>
		<key>GTA</key>
		<array>
			<string>V</string>
			<string>Val</string>
			<string>18.9</string>
		</array>
		<key>GTC</key>
		<array>
			<string>V</string>
			<string>Val</string>
			<string>13.9</string>
		</array>
		<key>GTG</key>
		<array>
			<string>V</string>
			<string>Val</string>
			<string>6.4</string>
		</array>
		<key>GTT</key>
		<array>
			<string>V</string>
			<string>Val</string>
			<string>10.6</string>
		</array>
		<key>TAA</key>
		<array>
			<string>*</string>
			<string>***</string>
			<string>1.6</string>
		</array>
		<key>TAC</key>
		<array>
			<string>Y</string>
			<string>Tyr</string>
			<string>22.2</string>
		</array>
		<key>TAG</key>
		<array>
			<string>*</string>
			<string>***</string>
			<string>1.2</string>
		</array>
		<key>TAT</key>
		<array>
			<string>Y</string>
			<string>Tyr</string>
			<string>12.9</string>
		</array>
		<key>TCA</key>
		<array>
			<string>S</string>
			<string>Ser</string>
			<string>19.4</string>
		</array>
		<key>TCC</key>
		<array>
			<string>S</string>
			<string>Ser</string>
			<string>23.2</string>
		</array>
		<key>TCG</key>
		<array>
			<string>S</string>
			<string>Ser</string>
			<string>2.3</string>
		</array>
		<key>TCT</key>
		<array>
			<string>S</string>
			<string>Ser</string>
			<string>9.6</string>
		</array>
		<key>TGA</key>
		<array>
			<string>W</string>
			<string>Trp</string>
			<string>21.8</string>
		</array>
		<key>TGC</key>
		<array>
			<string>C</string>
			<string>Cys</string>
			<string>4.4</string>
		</array>
		<key>TGG</key>
		<array>
			<string>W</string>
			<string>Trp</string>
			<string>2.4</string>
		</array>
		<key>TGT</key>
		<array>
			<string>C</string>
			<string>Cys</string>
			<string>1.6</string>
		</array>
		<key>TTA</key>
		<array>
			<string>L</string>
			<string>Leu</string>
			<string>17.5</string>
		</array>
		<key>TTC</key>
		<array>
			<string>F</string>
			<string>Phe</string>
			<string>36.7</string>
		</array>
		<key>TTG</key>
		<array>
			<string>L</string>
			<string>Leu</string>
			<string>5.9</string>
		</array>
		<key>TTT</key>
		<array>
			<string>F</string>
			<string>Phe</string>
			<string>17.7</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Vertebrate Mitochondrial Codons</string>
        <key>FrequencySample</key>
	<string>Homo Sapiens Mitochondrial</string>
	<key>Species</key>
	<string>Vertebrate Mitochondrial </string>
</dict>
</plist>
