<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hopp-Woods</key>
	<dict>
		<key>A</key>
		<string>-0.5</string>
		<key>C</key>
		<string>-1.0</string>
		<key>D</key>
		<string>3.0</string>
		<key>E</key>
		<string>3.0</string>
		<key>F</key>
		<string>-2.5</string>
		<key>G</key>
		<string>0.0</string>
		<key>H</key>
		<string>-0.5</string>
		<key>I</key>
		<string>-1.8</string>
		<key>K</key>
		<string>3.0</string>
		<key>L</key>
		<string>-1.8</string>
		<key>M</key>
		<string>-1.3</string>
		<key>N</key>
		<string>0.2</string>
		<key>P</key>
		<string>0.0</string>
		<key>Q</key>
		<string>0.2</string>
		<key>R</key>
		<string>3.0</string>
		<key>S</key>
		<string>0.3</string>
		<key>T</key>
		<string>-0.4</string>
		<key>V</key>
		<string>-1.5</string>
		<key>W</key>
		<string>-3.4</string>
		<key>Y</key>
		<string>-2.3</string>
	</dict>
	<key>Kyte-Doolittle</key>
	<dict>
		<key>A</key>
		<string>1.8</string>
		<key>C</key>
		<string>2.5</string>
		<key>D</key>
		<string>-3.5</string>
		<key>E</key>
		<string>-3.5</string>
		<key>F</key>
		<string>2.8</string>
		<key>G</key>
		<string>-0.4</string>
		<key>H</key>
		<string>-3.2</string>
		<key>I</key>
		<string>4.5</string>
		<key>K</key>
		<string>-3.9</string>
		<key>L</key>
		<string>3.8</string>
		<key>M</key>
		<string>1.9</string>
		<key>N</key>
		<string>-3.5</string>
		<key>P</key>
		<string>-1.6</string>
		<key>Q</key>
		<string>-3.5</string>
		<key>R</key>
		<string>-4.5</string>
		<key>S</key>
		<string>-0.8</string>
		<key>T</key>
		<string>-0.7</string>
		<key>V</key>
		<string>4.2</string>
		<key>W</key>
		<string>-0.9</string>
		<key>Y</key>
		<string>-1.3</string>
	</dict>
</dict>
</plist>
